body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
    background-color: white;
}
.button1{
    height: 31px;
    background: rgb(30, 156, 225);
    border: none;
    color: white;
    padding-left:20px;
    padding-right:20px;
    /* background-color: blue; */
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.blue{
    color: rgb(30, 156, 225);
}
.dark{
    margin-top:10px;
    margin-bottom:10px;
    padding: 15px;
    background-color: black;
    color:white;
    border-radius: 10px;
}
header{
    background-color: black;
    color: white;
    min-height: 70px;
    border-bottom: rgb(30, 156, 225) 3px solid;
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}
header ul{
    list-style: none;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
#branding{
    margin-top: 7px;
    float: left;
}
#branding h1{
    font-size: 40px;
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:rgb(30, 156, 225);
}
header a:hover{
    color: rgb(30, 156, 225);;
}
#showcase{
    min-height: 400px;
    /* background: url('images/showcase.jpg') no-repeat 400px(go right on x axis) -300px(go down on y axis); */
    background: url('images/showcase.jpg') no-repeat;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
#showcase h1{
    margin-top: 10px;
    font-size:50px;
    margin-bottom: 10px;
}
#showcase p{
    font: 20px;
}
#newsletter{
    color: white;
    padding: 15px;
    background-color: black;
    display: flex;
    align-content: center;
}
#newsletter h1{
    float: left;
    padding: 0px;
    margin: 0px;
    margin-top:5px;
}
#newsletter form{
    margin-top:5px;
    float: right;
}
#newsletter input[type="email"]{
    padding: 5px;
    height: 30px;
    width: 250px;
}

#boxes{
    padding-top:30px;
}
#boxes .box{
    width: 30%;
    float: left;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    height: 120px;
}
#boxes a{
    color: black;
    text-decoration: none;
}

/* about */
aside#sidebar{
    border-radius: 10px;;
    float:right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float:left;
    width: 65%;
}

/* Services */
ul#services{
    margin:0px;
    padding: 0px;
    margin-bottom: 5px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: black solid 1px;
    border-radius: 10px;
    margin-top:5px;
    background-color: rgba(0, 0, 0, 0.382);
}
aside#sidebar.quote{
    margin-top:50px;
}
aside#sidebar h3{
    text-align: center;
}
#b1{
    margin-top: 20px;
    margin-bottom: 20px;
}
#b1 label{
    margin-top: 5px;
    font-size: 17px;
    float:left;
    margin-left:10%
}
#b1 input{
    min-height: 30px;
    float:right;
    margin-right: 10%;
}
form.quote input{
    border-radius: 7px;
    height: 25px;
    padding: 5px;
    padding-left: px;
}
form.quote button{
    margin-left:43%;
    border-radius:7px;
    padding: 20px;
    display: flex;
    align-items: center;
}

footer{
    padding:10px;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

@media(max-width:768px)  {
    header #branding,#newsletter h1,#newsletter form,#boxes .box,
    article#main-col,aside#sidebar,
    nav,nav li{
        float:none;
        text-align: center;
        width: 100%;
    }
    aside#sidebar{
        display:block;
        width: 88%;
    }
    article#main-col,article#main-col ul{
        width: 100%;
        margin: 0px;
    }
    aside#sidebar.quote{
        width: 100%;
    }
    header{
        padding-bottom: 10px;
    }
    #newsletter form .button1,#newsletter form input[type="email"]{
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    article#main-col li{
        float:none;
        width: 100%;
    }
    form.quote button{
        display: flex;
    justify-content: center;
    }
    aside#sidebar.quote{
        margin-top:10px;
    }
    article#main-col ul#services li{
        box-sizing: border-box;
    }
}
